#results {
  flex-flow: wrap-reverse;
  
  .info {

    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  
    .name, h3 {
      color: $white;
      text-transform: uppercase;
      text-shadow: 1px 1px 10px black;
    }

    .atributes {

      .circle {

        background-color: $grey-color;
        border-radius: 100%;
        width: 60px;
        height: 60px;

        h1 {
          font-weight: bold;
          margin: auto;
          display: flex;
          align-content: center;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          color: white;
          font-size: 30px;
        }
      }

      h3 {
        font-size: 20px;
      }
    }
  }
}