// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

// Required
@import "../../node_modules/bootstrap/scss/functions";

// Default variable overrides
$body-bg: #252525;
$body-color: #111;
$blue-color: #17408B;
$white: #FFFFFF;
$red-default-color: #C9082A;
$grey-color: #94a3b8;
$green-color: #22c55e;

.bg-green {
  background-color: $green-color!important;
}


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import 'players';
@import 'results';

body {
  background-color: $blue-color;
  background-image: url('https://wallpaperaccess.com/full/1305339.jpg');
  background-position: center center;
  background-size: contain;
  background-blend-mode: luminosity;

  @media all and (max-width: 768px) {
    background-image: url('https://www.wallpapertip.com/wmimgs/73-735410_nba-where-amazing-happens-iphone-6-plus-wallpaper.jpg');
  }
}

// Teste datalist

* {
  scrollbar-width: thin;
  scrollbar-color: #BBB #EEE;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 20px;
  border: 3px solid #bbb;
}

.list-players::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 20px;
  border: 3px solid #FFF;
}


.coin {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.coin div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
     -moz-box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
          box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
}
.side-a {
  background-color: #bb0000;
}
.side-b {
  background-color: #bb0000;
}

.coin {
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}
.coin div {
  position: absolute;
  -webkit-backface-visibility: hidden;
}
.side-a {
  z-index: 100;
}
.side-b {
  -webkit-transform: rotateY(-180deg);

}

.coin.heads {
  -webkit-animation: flipHeads 3s ease-out forwards;
  -moz-animation: flipHeads 3s ease-out forwards;
    -o-animation: flipHeads 3s ease-out forwards;
       animation: flipHeads 3s ease-out forwards;
}

.coin.drops {
  -webkit-animation: drops 3s ease-out forwards;
  -moz-animation: drops 3s ease-out forwards;
    -o-animation: drops 3s ease-out forwards;
       animation: drops 3s ease-out forwards;
}

@-webkit-keyframes flipHeads {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(720deg); -moz-transform: rotateY(720deg); transform: rotateY(720deg); }
}

@-webkit-keyframes drops {
  from { opacity: 0; position: relative; top: -25px; }
  to { opacity: 1; position: unset; top: 0px; }
}